<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">
    <select id="getProductList">
        SELECT *
        FROM product
        <if test='limit != null and offset != null'>
            LIMIT ${limit} OFFSET ${offset}
        </if>
    </select>
    <select id="getProductData">
        SELECT *
        FROM product 
        <if test="productIdx != null">
            WHERE productIdx = ${productIdx}
        </if>
    </select>
    <select id="getProductBanner">
        SELECT p.productIdx, b.imagePath 
        FROM productBanner b 
        INNER JOIN product p on p.productIdx = b.spaceIdx 
        <if test='productIdx != null'>
            WHERE p.productIdx = ${productIdx} ; 
        </if>
    </select>
    <select id="getProductComponent">
        SELECT p.productIdx, c.imagePath 
        FROM productComponent c 
        INNER JOIN product p on p.productIdx = c.productIdx 
        <if test='productIdx != null'>
            WHERE c.productIdx = ${productIdx} ; 
        </if>
    </select>
</mapper>